.fill{
    flex: 1;
    text-align: center;
}

.header-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}